---
import AppHead from "@/components/AppHead.astro";
import Header from "@/components/AppHeader.astro";
import AboveTheFold from "@/components/SectionAboveFold.astro";
import AboutMe from "@/components/SectionAboutMe.astro";
import PastWork from "@/components/SectionPastWork.astro";
import Projects from '@/components/SectionProjects.astro';
import ContactMe from "@/components/SectionContactMe.astro";
import Footer from "@/components/AppFooter.astro";
---
<html lang="en">
	<AppHead></AppHead>
	<body class="bg-white overflow-x-hidden text-slate-900 dark:bg-base-100 dark:text-white" data-theme="night">
        <Header></Header>
        <AboveTheFold></AboveTheFold>
        <section class="wrapper relative z-[10] dark:bg-base-100">
            <AboutMe></AboutMe>
            <PastWork></PastWork>
            <Projects></Projects>
            <ContactMe></ContactMe>
            <Footer></Footer>
        </section>
	</body>
</html>

<script>
    import AOS from 'aos'
    import 'aos/dist/aos.css'

    AOS.init()
</script>
