---
import Bubbles from "./ClientBubbles.vue";
import WavesAnimation from "./ClientWavesAnimation.vue";
---

<div class="h-screen w-screen fixed bg-green-500">
    <Bubbles></Bubbles>
    <WavesAnimation class="full-width bottom-0"></WavesAnimation>
</div>